.SearchBar {
    width: 540px;
    background-color: #A00028;
    margin: auto;
}
.SearchBar input {
    width: 500px;
    height: 40px;
    background-color: #A00028;
    border: 0;
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px
}

.SearchBar input:focus {
    outline: none;
}

.mag {
    padding: 10px, 10px, 0, 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .SearchBar {
      margin-left: 25px;
  }  
}
  